<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="outer">
      <h1>Register Account</h1>
      <form action="/register" method="post">
        <div><input type="text" placeholder="name" name="name" /></div>
        <div><input type="text" placeholder="userName" name="userName" /></div>
        <div><input type="text" placeholder="email" name="email" /></div>
        <div><input type="text" placeholder="age" name="age" /></div>
        <div>
          <input type="password" placeholder="password" name="password" />
        </div>
        <div><input type="submit" name="" value="register" /></div>
      </form>
    </div>
  </body>
</html>
