<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="stylesheets/style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div>
      <h1>Users List</h1>
      <div class="mb-4"><a href="/read">Read Users</a></div>
      <form action="/create" method="post">
        <input type="text" name="ename" placeholder="" class="border" />
        <input type="text" name="email" placeholder="" class="border" />
        <input type="text" name="image" placeholder="" class="border" />
        <input type="submit" class="bg-blue-900 p-1 text-white" />
      </form>
    </div>
  </body>
</html>
