<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>EJS working - simple as <%= 2+2%></h1>
    <form action="/create" method="post">
      <input type="text" name="title" />
      <textarea name="detail"></textarea>
      <input type="submit" />
    </form>
    <h1>tasks</h1>
    <% if(file.length > 0) {%>
    <div class="flex gap-5">
      <% file.forEach((val) =>{ %>
      <div class="bw">
        <h2><%= val %></h2>
        <div>
          <a href="./files/<%= val %>">read more </a>

          <a href="./edit/<%= val %>">Edit</a>
        </div>
      </div>
      <%}) %>
    </div>
    <% } else {%>
    <div>No Task exist</div>
    <% } %>
  </body>
</html>
