body {
  padding: 0;
  margin: 0;
  background-color: #19171e;
}

#box01 {
  width: 180px;
  height: 180px;
  background-color: aqua;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Needed for 'left' to work */
  /* animation: boxMove 4s ease-in-out alternate; Proper shorthand */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: boxMove 2 ease-in-out 2 infinite alternate;
}

@keyframes boxMove {
  0% {
    left: 0;
    background-color: antiquewhite;
  }
  50% {
    left: 50%;
    background-color: aquamarine;
  }
  60% {
    left: 60%;
    background-color: bisque;
  }
}

#box {
  width: 110px;
  height: 110px;
  background-color: aqua;
  border-radius: 25px 14px 11px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  margin-left: 22px;
}
h1 {
  font-size: 31px;
  color: aliceblue;
  padding: 2px 22px;
}

.boxOne,
.boxTwo,
.boxThree {
  width: 60px;
  height: 60px;
  border-radius: 11px;
  margin: 11px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxOne {
  background-color: #dd33ff;
}
.boxTwo {
  background-color: #8f14a7;
}
.boxThree {
  background-color: #310639;
}

#page1,
#page2,
#page3 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page1 {
  background-color: #1d55f0;
}

#page2 {
  background-color: #1bd195;
}

#page3 {
  background-color: #edce23;
}

#pgBox {
  width: 250px;
  height: 250px;
  background-color: #02123e;
  border-radius: 17px;
}
