body {
  background-color: rgb(129, 191, 246);
}
input,
textarea {
  padding: 9px;
  margin: 9px;
  display: block;
  border: 1px solid #fff;
}
.bw {
  width: 30%;
  background-color: beige;
  border-radius: 11px;
  padding: 11px;
  display: flex;
  justify-content: space-between;
}
